<br clear="all" />
<div class="paginaComun">
{texto}

<h2 class="inset-text">Formulario de inscripción</h2>
<div class="formulario">
    <form class="form mauto" action="?act=doInscripcion" method="post">
        <!-- BEGIN campos -->
        <div class="row">
            <p class="_50"><label>{nombre_campo}</label></p>           
            <p class="_50">{campo}</p>
    
        </div>
        <!-- END campos -->
        <div class="row">
        <input type="submit" value="Enviar" class="mauto boton" />
        </div>
    </form>
    </div>
</div>
</div>